<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- Add your app settings here -->
        <add key="FilePath" value="C:\source\ownsource\TestCode\TestCode\data\テストデータ.txt" />
    </appSettings>
    <connectionStrings>
        <!-- Add your connection strings here -->
    </connectionStrings>
</configuration>